* { 
   margin: 0px;
}

body {
  background-color: #49777B;
}


.main {
  display: block;
  text-align: center;
  margin: auto;
}




.top_main {
  height: 70px;
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: #D4800C;
}

.after {
  color:white;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  background-color: black;
  height: 60px;
  width: 100%;
}

.conteiner_center {
  display: inline-block;
  width: 80%;
  height: 20000px;
  background-color: #D2C8AA;
  opacity: 0.8;
}

.conteiner_news {
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 30px;
  background-color: #F67103;
  border-radius: 20px;
  width: 82%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px));

}














