* { 
   margin: 0px;
   padding: 0px;
}

body {
  background-color: #49777B;
}


.main {
  display: block;
  text-align: center;
  margin: auto;
}




.top_main {
  height: 70px;
  width: 1900px;
  text-align: center;
  display: inline-block;
  background-color: #D4800C;
}

.after {
  color:white;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  background-color: black;
  height: 60px;
  width: 100%;
}

.conteiner_center {
  display: inline-block;
  width: 1300px;
  height: 20000px;
  background-color: #D2C8AA;
  opacity: 0.8;
}

.conteiner_news {
  color: black;
  text-align: left;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
  background-color: #F67103;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .main {
    width: 1000px;
  }

}

@media (max-width: 1000px) {
  .main {
    width: 1000px;
  }
  .top_main {
    width: 1000px;
  }
  .conteiner_center {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .main {
    width: 768px;
  }
  .top_main {
    width: 768px;
  }
  .conteiner_center{
    width: 500px;
  }
}

@media (max-width: 480px){ 
  .main {
    width: 480px;
  }
  .top_main {
    width: 480px;
  }
  .conteiner_center {
    width: 300px;
  }
}













