.PS4-1 {
  display: inline-block;
  margin-top: 60px;
  margin-left: 60px;
  width: 400px;
  height: 500px;
  background-color: aqua;
  border-radius: 20px;
}


.PS4-1 h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    user-select: none;
}

.PS4-1 img {
    text-align: center;
    margin-left: 30px;
    width: 340px;
}





.clock {
    text-align: center;
    font-size: 50px;
}




/* PS 4 2 card */

.PS4-2 {
  display: inline-block;
  margin-top: 60px;
  margin-left: 60px;
  width: 400px;
  height: 500px;
  background-color: aqua;
  border-radius: 20px;
}

.PS4-2 h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    user-select: none;
}

.PS4-2 img {
    text-align: center;
    margin-left: 30px;
    width: 340px;
}





