.main-news {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1);
}

.left-bar {
  grid-column: 1/3;
}

.conteiner_center {
  grid-column: 3/11;
  display: inline-block;
  height: auto;
  padding-bottom: 100px;
  background-color: #D2C8AA;
}

.right-bar {
  grid-column: 11/13;
}



@media (max-width: 1000px) {
  .conteiner_center {
    grid-column: 3/11;
    width: 600px;
  }

  .left-bar {
    grid-column: 1/3;
  }

  .right-bar{
    grid-column: 11/13;
  }
}









