.footer {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1);
	height: auto;
	width: 100%;
	background-color: #c0b5a9;
}

.left {
	grid-column: 1/3;
}



.massege {
	display: inline-block;
	margin-top: 10px;
	padding: 20px 20px;
}
.massege img {
	display: inline-block;
	width: 30px;
	margin-left: 10px;
}

.center {
	grid-column: 3/11;
}
.center a{
  text-decoration: none;
  color: black;
}
.author {
	display: block;
	margin-top: 40px;
	text-align: center;

}
.police {
	display: inline-block;
  padding-top: 30px;
  padding-left: 500px;
}
.me{
  display: inline-block;
}

/* animation footer word*/
.me a{
	color: black;
	text-decoration: none;
	transition: all .4s ease;
}
.me a:hover{
	color: white;
}

.police a {
	color: black;
	text-decoration: none;
	transition: all .4s ease;
}
.police a:hover {
	color: white;
}

.setting a{
	text-decoration: none;
	color: black;
	transition: all .4s ease;
}
.setting a:hover {
	color: white;
}


/* right bar footer*/
.right {
	grid-column: 11/13;
}
.right a{
  text-decoration: none;
  color: black ;
}
.setting {
  display: inline-block;
  padding-top: 30px;
}



