* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}




.main{
  display: block;
}



.main_card {
  display: block;
  margin-top: 0px;
  width: 1920px;
  height: 700px;
  background-color: White;
}



.footer {
  background-color: #DCDCDC;
  height: 210px;
  width: 1920px;
}









