.top_main {
  display: flex;
  background-color: #49777B;
}
.nav_name_bar {
  display: flex;
}
.nav_name_bar a{
  display: block;
  padding: 1em;
  text-decoration: none;
  color: white
}
.nav_name_bar a:hover {
  background-color: #D2C8AA;
}

.nav-btn {
  display: none;
}

.home-page {
  text-decoration: none;
  font-size: 40px;
}
.home-page a:hover {
  background-color: #D2C8AA;
}





@media (max-width: 1000px) {
  input {
    font-size: 20px;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    display: block;
  }

  .nav-btn {
    font-size: 2em;
    padding-inline: 10px;
    padding-bottom: 3px ;
    border: none;
    background-color: #49777B;
    cursor: pointer;
    display: block;
  }

  .top_main a:hover{
    background-color: #D2C8AA;

  }

  .nav_name_bar {
    display: none;
  }

  .drop:hover .nav_name_bar {
    display: block;
    position: absolute;
    background-color: #49777B;
    right: 1px;
  }
  .top_main {
    justify-content: space-between;
  }

  input {
    border-radius: 20px;
    border: none;
  }
}

@media (max-width: 200px) {
  .nav-btn {
    font-size: 1em;
    padding-inline: 5px;
    padding-bottom: 1px;
  }
  input {
    width: 50px;
    height: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
  }
  .home-page {
    font-size: 1em;
  }
}



